<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <%if user && user.microposts.any? && user.microposts.first %>
    <p>
      <strong>First Micropost:</strong>
      <%= h(user.microposts.first.content) %>
    </p>
  <%end%>
</div>
